body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #9AACA4; /* обновленный цвет фона */
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0E3B43; /* обновленный цвет фона хэдера */
    color: #FFFFFF; /* обновленный цвет текста (белый) */
    margin-top: 0;
    box-sizing: border-box;
}

.header__title {
    margin: 0;
    font-size: 24px;
    color: #FFFFFF; /* обновленный цвет текста (белый) */
    font-weight: 700; /* увеличиваем толщину шрифта */
    letter-spacing: 1px; /* добавляем пространство между буквами */
}

.header__user-info {
    display: flex;
    align-items: center;
}

.header__username {
    margin-right: 20px;
    padding: 0 10px; /* добавлены отступы вокруг текста */
    background-color: #9AACA4; /* фон для блока с именем пользователя */
    border-radius: 10px; /* скругленные углы */
    transition: background-color 0.3s; /* плавный переход фона */
    color: #0E3B43; /* цвет текста для имени пользователя */
    font-weight: 600; /* увеличиваем толщину шрифта */
}

.header__username:hover {
    background-color: #B0BFB7; /* цвет фона при наведении */
}

.header__logout, .header__admin-panel, .header__home-link, .header__logs-page {
    margin: 0 5px; /* уменьшенные отступы между элементами */
    padding: 5px 10px; /* внутренние отступы */
    text-decoration: none;
    color: #FFFFFF; /* обновленный цвет текста (белый) */
    border-radius: 10px; /* скругленные углы */
    transition: background-color 0.3s, color 0.3s; /* плавный переход фона и цвета текста */
    font-weight: 600; /* увеличиваем толщину шрифта */
}

.header__logout:hover, .header__admin-panel:hover, .header__home-link:hover, .header__logs-page:hover {
    background-color: #9AACA4; /* цвет фона при наведении */
    color: #0E3B43; /* цвет текста при наведении */
}
